* {
  padding: 0;
  margin: 0;
}

.darkTheme {
  background-color: black !important;
}
.darkThemeBtn {
  background-color: aliceblue !important;
  color: black !important;
}
.darkThemeHeader {
  color: wheat !important;
}
.colorBcg {
  height: 100%;
  width: 100%;
  background-color: #00aac1;
  position: absolute;
  overflow: hidden;
}
.colorChangeBtn {
  border: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 30px 50px;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: aqua;
  cursor: pointer;
  outline: none;
}
.introOne {
  color: rgb(24, 20, 20);
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  letter-spacing: 3px;
  text-align: center;
  display: block;
  text-transform: capitalize;
  position: absolute;
  bottom: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 40px;
}
.colorBcgTwo {
  height: 100%;
  width: 100%;
  background-color: #1e4146;
  position: absolute;
  overflow: hidden;
  top: 100%;
}
.colorChangeBtnTwo {
  border: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 30px 50px;
  bottom: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: white;
  background-image: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  cursor: pointer;
  outline: none;
}
.introTwo {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  padding: 10px;
  border-radius: 10px;
  color: rgba(243, 243, 237, 0.89);
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  letter-spacing: 3px;
  text-align: center;
  display: block;
  text-transform: capitalize;
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 40px;
}
.colorDisplay {
  background-color: white;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 30px 50px;
  width: 15%;
  text-align: center;
  font-weight: bolder;
}
