#main-header{
	position: absolute;
	display: inline-block;
	width: 100%;
	right:0;
	top: 10px;
}
.left-header{
	margin: 13px 0 0 15px;
    position: absolute;
    font-size: 15px;
    display: flex;
    padding-left: 15px;
 
}
.right-header{
	margin: 0px 28px 0 0;
    position: absolute;
    right: 0;
    font-size: 13px;
    display: inline-block;
    padding-right: 15px;

}	
.icon{
	width: 20px;
	padding-top: 10px;
    padding-right: 10px;

}
.nav{
	text-decoration: none;
	margin-left: 10px;
}
.main-nav{
	
	top: 50px;
    position: relative;
    height: 50px;
    margin: 0 15px;
    padding: 10px 10px;
    cursor: pointer;
    color: #6f6f6f;
    left: 150px;
}
.box{
	border: .5px solid #d7d7d7;
	display: flex;
	border-radius: 80px;
	margin-left: 30px; 
}
.search-box{
	width: 510px;
    height: 25px;
    border: none;
    margin-top: 10px;
    margin-left: 7px;
}
.nav-right{
	text-decoration: none;
	margin-left: 30px;
}
#nav-right-1{
	    padding-left: 80px;
}
.bar{
	  min-width: 1020px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    background-color: #f2f2f2;
    color: gray;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 0px;
    margin: 0px;
}
body{
	background-color: #d0a2a2;

}